* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: rgb(27, 27, 27);
  color: #fffce1;
  overflow-x: hidden;
}
header {
  position: fixed;
  box-sizing: border-box;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: rgb(27, 27, 27);
}
.header {
  margin: 1rem;
  display: flex;
  justify-content: space-between;
}
header h1 {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}
header ul {
  display: flex;
  justify-content: space-between;
  margin-top: 0.7rem;
  margin-right: 10rem;
}
header ul li {
  list-style: none;
  margin-left: 1rem;
}
header ul li a {
  margin-left: 2rem;
  text-decoration: none;
  color: #7c7c6f;
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  transition: all 0.5s ease-in-out;
  display: inline-block;
  opacity: 0;
}
header ul li a:hover {
  color: #fffce1;
}
svg {
  width: 100%;
  height: 4.5rem;
  margin-top: -1.5rem;
}
.line {
  position: absolute;
}
.title {
  margin-top: 10rem;
  margin-left: 5rem;
  display: flex;
}
.letter {
  width: 10rem;
  height: 16rem;
  overflow: hidden;
  padding: 0.5rem;
}
.flower {
  margin-top: 1rem;
  margin-bottom: -2rem;
  position: relative;
  top: 7rem;
}
.title p {
  font-size: 10rem;
  font-family: "Fredoka", sans-serif;
  margin-top: 4.5rem;
  margin-right: -1rem;
  margin-left: -2rem;
}
.letter p {
  font-size: 10rem;
  font-family: "Fredoka", sans-serif;
  margin-left: 1.1rem;
  margin-top: 0;
  top: 13rem;
  position: relative;
}
.title1 {
  margin-left: 3rem;
  margin-top: 2rem;
  font-size: 10rem;
  font-family: "Fredoka", sans-serif;
  display: flex;
  height: 20rem;
}
.title1 .letter1 {
  width: 10rem;
  height: 13rem;
  overflow: hidden;
}
.title1 .letter1 svg,
.title1 .letter1 p {
  position: relative;
}
.title1 .letter1 svg {
  margin-left: -2rem;
}
.title1 .letter1 p {
  top: -12rem;
  opacity: 0;
}
.title1 .word {
  margin-left: -3.5rem;
}

.id {
  position: absolute;
  transform: scale(8);
  top: 25rem;
  left: 70rem;
}
.about hr {
  color: #fffce1;
}
.about .about_title {
  margin: 2rem 3rem;
  display: flex;
  justify-content: left;
}
.about .about_title .open,
.about .about_title .close {
  font-size: 4rem;
}
.about .about_title .about1 {
  font-size: 2rem;
  font-family: "Fredoka", sans-serif;
  text-transform: capitalize;
  margin-top: 1.4rem;
}
.about .description p {
  font-family: "Fredoka", sans-serif;
  font-size: xx-large;
  margin-top: 6rem;
  margin-left: 15rem;
  line-height: 3.5rem;
  margin-bottom: 5rem;
}
.word2,
.c,
.d {
  display: inline-block;
}
.projects {
  width: 100%;
}

 .work {
  display: flex;
  background-color: #fffce1;
  display: flex;
  height: 3.5rem;
  color: #7c7c6f;
  width: max-content;
}
.work p {
  padding: 0.7rem 2rem;
  font-family: "Fredoka", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
}
.work svg {
  width: 4rem;
  margin-top: -0.5rem;
  margin-left: 1.5rem;
}
.domain {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 3rem;
  margin-left: 5rem;
  margin-right: 5rem;
  margin-bottom: 10rem;
}
.web,
.mobile,
.language {
  background-color: #fffce1;
  text-align: center;
  padding: 0.5rem 1rem;
  border: 0.2rem solid rgb(54, 53, 53);
  box-shadow: 0.5rem 0.5rem 0rem rgb(54, 53, 53);
  border-radius: 1.5rem;
  height: 10rem;
  margin-top: 5rem;
  font-family: "Quicksand", sans-serif;
  color: #7c7c6f;
  text-transform: capitalize;
}
.web h1,
.mobile h1,
.language h1 {
  margin-top: 1rem;
  margin-bottom: 2rem;
  font-size: 1.5rem;
}
.web a,
.mobile a,
.language a {
  background-color: rgb(61, 61, 61);
  border-radius: 2rem;
  padding: 0.5rem 2rem;
  color: #fffce1;
  transition: background-color 0.3s;
  font-weight: 700;
}
.web a:hover,
.mobile a:hover,
.language a:hover {
  background-color: #fffce1;
  border: 0.1rem solid rgb(27, 27, 27);
  color: #3d3d3d;
}
.web ul {
  list-style: none;
  display: none;
  justify-content: space-around;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.mobile ul {
  list-style: none;
  display: none;
  justify-content: space-around;
  margin-bottom: 3rem;
}

.language ul {
  list-style: none;
  display: none;
  justify-content: space-around;
  margin-bottom: 3rem;
}
.projectlist {
  width: 150%;
  height: 40rem;
  background-color: rgb(27, 27, 27);
}
.projectlist h1{
  text-align: center;
  margin-top: 1rem;
  font-size: 2.5rem;
  font-family: "Chakra Petch", sans-serif;
  font-weight: 500;
  font-style: normal;
}
.projectlist ul {
  margin-top: 3rem;
  margin-left: 20rem;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  gap: 15rem;
}
.projectcard {
  background-color: #fffce1;
  width: 22rem;
  height: 31rem;
  padding: 3rem 2rem;
  border-radius: 2rem;
  box-shadow: 0.5rem 0.5rem 0.7rem #3d3d3d;
  border: 0.1rem solid #3d3d3d;
  text-align: center;
}
.projectlist .projecttitle{
  margin-left: -70rem;
}
.projectcard h1 {
  color: #3d3d3d;
  margin-top: 1rem;
  font-family: "Chakra Petch", sans-serif;
  font-weight: 500;
  font-style: normal;
  text-align: left;
  text-transform: capitalize;
}
.projectcard svg {
  background: rgb(250, 240, 152);
  background: radial-gradient(
    circle,
    rgba(250, 240, 152, 1) 10%,
    rgba(255, 252, 225, 1) 44%,
    rgba(237, 226, 126, 1) 100%
  );
  box-shadow: #ecda30;
  border: 0.5rem solid #fde40818;
  width: 6rem;
  height: 6rem;
  border-radius: 3rem;
}
.projectcard p {
  color: #7c7c6f;
  font-family: "Fredoka", sans-serif;
  text-align: left;
  margin-top: 1.5rem;
}
.projectcard a {
  text-decoration: none;
  margin-top: 2rem;
  display: inline-block;
  color: #fffce1;
  background-color: rgb(61, 61, 61);
  padding: 0.5rem 1rem;
  font-family: "Fredoka", sans-serif;
  font-weight: 500;
  border-radius: 3rem;
  transition: background-color 0.3s;
}
.projectcard a:hover{
  background: #fffce1;
  color: #3d3d3d;
  border: 0.1rem solid #3d3d3d;
}
.blog p{
    margin-top: 4rem;
}
.contact{
  margin-top: 5rem;
}
.emailcontact{
  margin-top: 3rem;
  margin-left: 4rem;
  width: 90%;
  background-color: #fffce1;
  height: 30rem;
  text-align: center;
  padding: 2rem ;
  border-radius: 5rem;
}
.emailcontact h1{
  color: #fffce1;
  width: 30%;
  margin-left: 30rem;
  border-radius: 3rem;
  padding: 0.5rem 2rem;
  margin-bottom: 9rem;
  background-color: #3d3d3d;
  font-weight: 400;
  font-family: "Fredoka", sans-serif;
}
.emailcontact  p a{
  text-decoration: none;
  font-size: 4rem;
  color: #7c7c6f;
  font-family: "Fredoka", sans-serif;
  transition: all 1s ease;
  display: inline-block;
}
.emailcontact ul{
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin-top: 6rem;
}

.emailcontact p a:hover{
    color: #3d3d3d;
    transform: scale(1.1);
}

::-webkit-scrollbar{
  width: 0.5rem;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background:#fffce1; 
  border-radius: 10px;
}